<p>Nombre del empleado: {{nombre}}</p>
<p>Apellido del empleado: {{apellido}}</p>
<!--Two way binding-->
<p>Correo: {{correo}}</p>
<label>Introduce tu correo: </label>
<input type="mail" [(ngModel)]="correo">
<!---->
<!--Interpolación-->
<p id="edadEmpleado">Edad del empleado: {{getEdad()>18?getEdad()+" Mayor de edad":getEdad()+" Menor de edad"}}</p>
<!---->
<!--Event binding-->
<input type="text" #nombreInput (keyup.enter)="mayorEdad(nombreInput.value)" placeholder="edad">
<!---->
<p>Empresa del empleado: {{empresa.value}}</p>
<label>Introduce el nombre de la empresa: </label>
<!--Se establece 0 solo para que se recargue solo la sección, no toda la página-->
<input type="text" #empresa (keyup)="0">
<!--Property binding [disabled]-->
<button (click)="0" [disabled]="habilitar">Click!</button>
<!---->
<br>
<br>
<label>{{textoDeRegistro}}</label><br>
<label> Registrado: </label><br>
si<input type="radio" value="si" name="nRegsitro" id="registro" [checked]="registrado" (click)="nuevoUsuarioRegistrado($event)">
no<input type="radio" value="no" name="nRegsitro" id="noRegsitro" (click)="nuevoUsuarioRegistrado($event)">
{{getRegistroUsuario()}}<!--Cambia la propiedad registrado, sirve para saber si un usuario está registrado-->
